.banner {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg?raw=true");
  background-position: center;
  background-size: cover;
  height: 480px;
}

@include media-breakpoint-up(md) {
  .w-md-auto {
    width: auto !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
}

.page-menu {
  padding-top: 14px;
  padding-bottom: 14px;
  li {
    margin-right: 18px;
  }
  .menu-link {
    padding: 14px 18px;
  }
}

.nav-scroller {
    height: 4.0rem;
    overflow-y: hidden;
    border-bottom: 1px solid $light;
  
    .nav {
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

.popular-exhibinection {
  .card {
    img {
      object-fit: cover;
    }
  }
  .exhibition-content {
    margin-bottom: 34px;
  }
  i {
    width: 24px;
    height: 24px;
  }
}

.live-review {
  .live-review-banner {
    height: 482px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/people2.png?raw=true");
  }
  .live-review-item {
    padding: 40px 24px;
    background-color: #190014cc;
    background-blend-mode: overlay;
  }
}

.guess-you-like {
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    width: 100%;
    height: 350px;
  }
  img {
    object-fit: cover;
    width: 350px;
    height: 350px;
  }
}
