.header {
    padding-top: 28px;
    padding-bottom: 28px;
    .blank {
        width: 10%;
        height: 30px;
    }
    .number-notification {
        width: 20px;
        height: 20px;
    }
}


.footer-banner {
    height: 400px;
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true');
    background-size: cover;
    background-position: center;
    .email {
        border-color: #EFEFEF;
        padding: 12px;
    }
    .subscribe{
        padding: 12px 52px;
    }
}

.footer {
    padding: 28px 0;
} 
